<h1>Listing providers</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.category.name %></td>
        <td><%= provider.name %></td>
        <td><%= provider.url %></td>
        <td><%= link_to 'Show', provider %></td>
        <td><%= link_to '', edit_provider_path(provider),class: "fa fa-pencil-square-o" %></td>
        <td><%= link_to provider, method: :delete, data: { confirm: 'Are you sure?' } do%>
           <i class="fa fa-trash-o"></i>
             <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provider', new_provider_path %>
