<h1>Dashboard</h1>
<h2>Welcome:<%=current_user.first_name%></h2>

<%= link_to "Show All Bills", bills_path %>
<%= link_to "Add a new bill", new_bill_path %>
<%= link_to "Create a New Reminder", new_reminder_path %>


<% if @current_bills %>
  <h1>Your bills due today</h1>
<% else %>
  <h1>No Bills Due Today!</h1>
<% end %>

<table class="table table-striped">

  <tbody>
    <% @bills.each do |bill| %>
    <tr>
        <td><%= bill.name %></td>
        <td><%= bill.duedate %></td>
        <td><%= bill.category.name %></td>
        <td><%= bill.url %></td>
        <td><%= bill.paid %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  
      <% end %>
    
  </tbody>
</table>
<br>



<hr>
<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>