
<div align="center">
<h1>Welcome Back <%= current_user.first_name%></h1>

</div>

<% if @current_bills %>
  <h3>Bills Due This Week</h3>
<% else %>
  <h3>No Bills Due This Week</h3>
<% end %>

<table class="table table-hover">

  <tbody>
    <% @bills.each do |bill| %>
        <tr onclick='location.href="<%= bill_path(bill) %>"'>          
          <td><%= bill.name %></td>
          <td><%= bill.duedate %></td>
          <td><%= bill.provider.name %></td> 
          <td><%= link_to "Pay Now", bill.provider.url %></td>
              <%= bill.paid %>
              <% if bill.paid == true%>
              <td> Paid! </td>
              <%else%>
              <td> Not Paid! </td>
          <td><%= link_to bill, method: :delete do%>
          <span class="fa fa-trash-o"></span>
          <% end %>
       </tr>    
      <% end %>
    <% end %>
    
  </tbody>
</table>
<br>
<hr>
<br>
<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>

