
<div align="center">
  <h1><%= image_tag avatar_url(current_user), class:'img-circle' %> Hi again, <%= current_user.first_name%>!</h1>
</div>

<%if @bills_past.any? %>

<h3> Overdue Bills </h3>
<table class="table table-hover ">
  <tbody>
    <% @bills_past.each do |bill| %>
    <tr onclick='location.href="<%= bill_path(bill) %>"'>        
      <td class="danger"><%= bill.provider.name %></td> 
      <td class="danger"><%= link_to "Pay Now", bill.provider.url %></td>
      <% if bill.paid %>
      <td class="danger"> Paid! </td>
      <% else %>
      <td class="danger"> Not Paid! </td>
      <td class="danger">
        <%= link_to bill, method: :delete do %>
        <span class="fa fa-trash-o"></span>
        <% end %>
      </td>
    </tr> 


    <% end %>
  <% end %>
<% end %>

  </tbody>
</table>
<% if @bills.empty? %>
<h4 align="center" >You Have No Bills Due This Week</h4>
<% else %>
<h4>Bills Due This Week</h4>
<% end %>

<table class="table table-hover">
  <tbody>
    <% @bills.each do |bill| %>
    <tr onclick='location.href="<%= bill_path(bill) %>"'>          
      <td><%= bill.provider.name %></td> 
      <td><%= link_to "Pay Now", bill.provider.url %></td>
      <% if bill.paid %>
      <td> Paid! </td>
      <% else %>
      <td> Not Paid! </td>
      <td>
        <%= link_to bill, method: :delete do %>
        <span class="fa fa-trash-o"></span>
        <% end %>
      </td>
    </tr>    
    <% end %>
    <% end %>


  </tbody>
</table>



<% @bills_next.each do |bill| %>
<% if bill.paid %>
<% bill.paid = false %>
<% bill.save %>
<% end %>
<%= bill.provider.name %>
<% end %>






