
<div align="center">
<h1>Hello, <%= current_user.first_name%>...</h1>

</div>

<% if @bills.empty? %>
  <h4>You Have No Bills Due This Week</h4>
<% else %>
  <h3>Bills Due This Week</h3>
<% end %>

<table class="table table-hover">

  <tbody>
    <% @bills.each do |bill| %>
        <tr onclick='location.href="<%= bill_path(bill) %>"'>          
          <td><%= bill.duedate %></td>
          <td><%= bill.provider.name %></td> 
          <td><%= link_to "Pay Now", bill.provider.url %></td>
          <% if bill.paid %>
            <td> Paid! </td>
          <% else %>
            <td> Not Paid! </td>
            <td>
              <%= link_to bill, method: :delete do %>
                <span class="fa fa-trash-o"></span>
              <% end %>
            </td>
        </tr>    
      <% end %>
    <% end %>
    
  </tbody>
</table>
<br>
<hr>
<br>


