 <h2 class="admin">All Bills</h2>
    <table class="table table-striped">
   <tbody>
    <thead>
      <tr>
        <th>Bill User</th>
        <th>Provider</th>
        <th>Category</th>
        <th>Recurrence</th>
        <th>Option</th>
        <th>Delete Bill</th>
      </tr>
    </thead>
  <tr>
  <% unless @bills.empty? %>
  <% @bills.each do |bill| %>
  <td><%= bill.user.email %></td>
  <td><%= bill.provider.name %></td>
  <td><%= bill.provider.category.name %></td>
  <td><%= bill.every %></td>
  <td><%= bill.contact_method %></td>
  <td><%= link_to bill, method: :delete do%>
    <span class="fa fa-trash-o"></span>
  <% end %></td>
</tr>
  <% end %>
    <% end %>
      </tbody>
       </table>