<h1 class="admin">Administrator Dashboard</h1>



<h2>All Users</h2>
      <table border="2" >
 <tbody>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Cell Phone</th>
      <th>Social Media Login?</th>
      <th></th>
    </tr>
  </thead>
<tr>
<% @users.each do |user| %>
<td><%= user.first_name %></td>
<td><%= user.last_name %></td>
<td><%= user.cell_phone %></td>
<td><%= user.sprovider %></td>
<td><%= link_to user_registration_path, data: {confirm: "Are you sure?"}, method: :delete do%>
  <span class="fa fa-trash-o"></span>
  <% end %></td>
  </tr>
    <% end %>
  </tbody>
</table>
<br>
   <br>

<h2>All Bills</h2>
      <table border="2" >
 <tbody>
  <thead>
    <tr>
    <th>Bill User</th>
      <th>Provider</th>
      <th>Category</th>
      <th>Recurrence</th>
      <th>Option</th>
      <th></th>
    </tr>
  </thead>
<tr>
  <% unless @bills.empty? %>
<% @bills.each do |bill| %>
<td><%= bill.user.email %></td>
<td><%= bill.provider.name %></td>
<td><%= bill.provider.category.name %></td>
<td><%= bill.every %></td>
<td><%= bill.contact_method %></td>
<td><%= link_to bill, method: :delete do%>
  <span class="fa fa-trash-o"></span>
  <% end %></td>
   <% end %>
  </tr>
      <% end %>
    </tbody>
  </table>
  

  