<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<% if @bill.id.nil? %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :duedate %><br>
    <%= f.text_field :duedate %>
  </div>


  <div class="field">
    <!-- Drop Down menu for categories -->
    <%= f.label :category_id %><br>
    <%= select_tag "categories", options_for_select(Category.order(:name).map(&:name))%>
  </div>

  <div class="field">
    <!-- Drop Down menu for providers -->
    <%= f.label :provider %><br>
    <%= f.grouped_collection_select :provider_id, Category.order(:name), :providers, :name, :id, :name%>
  </div>
  
  <div class="field">
    <%= f.hidden_field :paid, value: false %>
  </div>

  <% elsif @edit == true %>
    <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :duedate %><br>
    <%= f.text_field :duedate %>
  </div>
    <div class="field">
    <!-- Drop Down menu for categories -->
    <%= f.label :category_id %><br>
    <%= f.collection_select :category_id, Category.order(:name), :id, :name%>
  </div>

  <div class="field">
    <!-- Drop Down menu for providers -->
    <%= f.label :provider %><br>
    <%= f.collection_select :provider_id, Provider.order(:name), :id, :name%>
  </div>
  <div class="field">
    <%= f.check_box :paid%>
  </div>

  <% else %>
    <% if @bill.paid == false%>
     <div class="field">
      <%= f.check_box :paid %> Not Paid
    </div>
    <% else %>
    <p> Your Bill is paid for this month! </p>
    <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

