<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Form for editing bills -->
  <div class="admin" class="field" id="coffee">
    <%= f.label :duedate %><br>
    <%= f.text_field :duedate %>
  </div>
 <!-- Drop Down menu for recurrence options -->
  <div class="admin" class="field">
    <%= f.label :Repeat %><br>
    <%= f.select :every, [["Monthly", "month"],["Yearly", "year"]] %>
  </div>
  <div class="admin" class="field">
    <!-- Drop Down menu for recurrence options -->
    <%= f.label :contact_method %><br>
    <%= f.select :contact_method, [["Text", "text"],["Phone Call", "phone call"],["Email", "email"],["Both", "both"]] %>
  </div><br>
  <div class="admin" class="field">
    <%= f.label "Paid Status" %>
    <%= f.check_box :paid %>
  </div>
  <div class="admin" class="actions">
    <%= f.submit "Update", class: 'btn btn-large btn-primary'%>
  </div>
<% end %>




