<h1>Unpaid bills</h1>


<!-- Search Bar Functionality -->
<%= form_tag bills_path, :method => 'get' do %>
         <%= search_field_tag :search, params[:search]%>
         <%= submit_tag "Search", class: 'pure-button', name: nil %>
      <% end %>



<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Duedate</th>
      <th>Category</th>
      <th>Paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
    <% if bill.user_id == current_user.id %>
      <tr>
        <td><%= bill.name %></td>
        <td><%= bill.duedate %></td>
        <td><%= bill.category.name %></td>
            <% if bill.paid == true%>
            <td> Paid! </td>
            <%else%>
            <td> Not Paid! </td>
            <%end%>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to bill, method: :delete, data: { confirm: 'Are you sure?' } do%>
           <i class="fa fa-trash-o"></i>
             <%end%>
        </td>
      </tr>

    <% end %>


      <% end %>
    
  </tbody>
</table>
<br>
<hr>
<!-- 
<h1>Paid bills</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
    <% if bill.user_id == current_user.id %>
      <tr>
        <td><%= bill.name %></td>
        <td><%= bill.category %></td>
        <td><%= bill.paid %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Delete', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>


      <% end %>
    
  </tbody>
</table> -->

<%= link_to 'New Bill', new_bill_path %>
