
<hr>
<div id="bills">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @bills_by_date[date]%>
      <ul>
        <% @bills_by_date[date].each do |bill| %>
          <li><%= link_to bill.provider.name, bill %></li>
        <% end %>
      </ul>
    <% end %> 
  <% end %>
</div>


<%= link_to 'New Bill', new_bill_path %>
