<h1>Unpaid bills</h1>


<!-- Search Bar Functionality -->
<%= form_tag bills_path, :method => 'get' do %>
         <%= search_field_tag :search, params[:search]%>
         <%= submit_tag "Search", class: 'pure-button', name: nil %>
      <% end %>



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Duedate</th>
      <th>Category</th>
      <th>Url</th>
      <th>Paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.name %></td>
        <td><%= bill.duedate %></td>
        <td><%= bill.category %></td>
        <td><%= bill.url %></td>
        <td><%= bill.paid %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>


<%= link_to 'New Bill', new_bill_path %>
