<h1>All Bills</h1>
<table class="table table-hover table-striped">
  <tbody>
  <thead>
    <tr>
      <th>Provider</th>
      <th>Category</th>
      <th>Payment Status</th>
      <th>Recurrence</th>
      <th>Reminder Method</th>
    </tr>
  </thead>
<tr>
<% current_user.bills.each do |bill| %>
<td><%= bill.provider.name %></td>
<td><%= bill.provider.category.name %></td>
<td><%= bill.paid %></td>
<td><%= bill.every %></td>
<td><%= bill.contact_method %></td>
</tr>
<% end %>
</tbody>
</table