
<% if current_user.bills.empty? %>

<h2 class="center_bill_list_h">You have not added any bills</h2>

<% else %>

<h1 class='bounceIn'>All Bills</h1>
<table class="table table-hover table-striped">
  <tbody>
  <thead>
    <tr>
      <th>Provider</th>
      <th>Category</th>
      <th>Payment Status</th>
      <th>Recurrence</th>
      <th>Reminder Method</th>
    </tr>
  </thead>
<tr>
<% current_user.bills.each do |bill| %>
<tr onclick='location.href="<%= bill_path(bill) %>"'>
<td><%= bill.provider.name %></td>
<td><%= bill.provider.category.name %></td>
<td>
  <% if bill.paid %>
  <%= "Paid" %>
  <% else %>
  <%= "Not Paid" %>
  <% end %>
</td>
<td><%= bill.every %></td>
<td><%= bill.contact_method %></td>
</tr>
<% end %>
  </tbody>
    </table>

<% end %>