g<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bill.name %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @bill.duedate %>
</p>

<p>
  <strong>Category:</strong>
  <%= @bill.category %>
</p>

<p>
  <strong>Url:</strong>
  <%= @bill.url %>
</p>

<p>
<strong>Paid:</strong>
  <%= fields_for(@bill) do |f| %>
  <%= f.check_box :paid %>
  <% end %>
</p>
     
<% @bill.reminders.each do |reminder| %>
	<h2>Reminder: </h2>
	<p> Notes: <%= reminder.notes %> </p>
	<p> Due By: <%= reminder.alert %> </p>
  <hr>
<% end %> 


		 <% if !(@bill.reminders.empty?) %>


        <h2> Your Reminders </h2>
        <hr>
          <% @bill.reminders.each do |reminder| %>
      	<p> Notes: <%= reminder.notes %> </p>
      	<p> Due By: <%= reminder.alert %> </p>
          <% end %> 
                <hr>
      <% else %>

      <h2> No Reminders Currently Set  </h2>

      <% end %>

<h2> Create a New Reminder For Your Bill! </h2> 

<%= render 'reminders/form' %>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
