<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bill.name %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @bill.duedate %>
</p>

<p>
  <strong>Category:</strong>
  <%= @bill.category.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @bill.url %>
</p>


<% if @bill.reminders.nil?  %>
	
	<h2> Current Reminders </h2> 
	<% @bill.reminders.each do |reminder| %>
		<p> Notes: <%= reminder.notes %> </p>
		<p> Due By: <%= reminder.alert %> </p>
	  <hr>
	<% end %>  

<% else %>
		<h2> No Current Reminders Set </h2>
<% end %>

<h2> Create a New Reminder For Your Bill! </h2> 

<%= render 'reminders/form' %>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
