
<p class = "billshow">
  <strong class = "billshowcolor">Category</strong>
  <%= @bill.category.name %>
</p>

<p class = "billshow">
  <%= @date %>
</p>

<p class = "billshow">
  <% if @bill.notes.empty? %>
  <% else %>
      <strong class = "billshowcolor">Notes</strong>
      <%= @bill.notes %>
</p>
  <% end %>

<p class = "billshow">
  <strong class = "billshowcolor">Provider</strong>
  <% @providers.each do |provider| %>
    <% if provider.id == @bill.provider_id %>
    <%= provider.name %>
    <%end%>
  <% end %>
</p>
<p class = "billshow">
  <strong class = "billshowcolor">Payment Status</strong> 
    <% if @bill.paid %>
      <%= "Paid" %>
    <% else %>
      <%= "Not Paid" %>
     <div class = "billshow"> <%= render 'form_paid' %></div>
  <% end %> 
</p> 

<p class = "billshow">
  <%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Calendar', bills_path %> |
<%= link_to @bill, method: :delete do%>
  <span class="fa fa-trash-o"></span>
          <% end %>
</p>
      

