
<p>
  <strong>Name:</strong>
  <%= @bill.name %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @bill.duedate %>
</p>

<p>
  <strong>Category:</strong>
  <%= @bill.category.name %>
</p>

<p>
  <strong>Provider:</strong>
  <% @providers.each do |provider| %>
    <% if provider.id == @bill.provider_id %>
    <%= provider.name %>
    <%end%>
  <% end %>

</p>

<p>
  <strong>Payment Status: <%= @bill.paid %></strong> 
    <% if @bill.paid == false %> 
      <%= render 'form' %>
  <% end %>
</p> 
	
<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', root_path %> |
<%= link_to @bill, method: :delete do%>
  <span class="fa fa-trash-o"></span>
          <% end %>
