<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bill.name %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @bill.duedate %>
</p>

<p>
  <strong>Category:</strong>
  <%= @bill.provider.category.name %>
</p>

<p>
  <strong>Provider:</strong>
  <% @providers.each do |provider| %>
    <% if provider.id == @bill.provider_id %>
    <%= provider.name %>
    <%end%>
  <% end %>

</p>








<p>
<strong>Payment Status: <%= @bill.paid %></strong> 
<% if @bill.paid == false %> 
 <%= render 'form' %>
<% end %>


</p> 

		<% if !(@bill.reminders.empty?) %>


        <h2> Your Reminders </h2>
        <hr>
          <% @bill.reminders.each do |reminder| %>
      	<p> Notes: <%= reminder.notes %> </p>
      	<p> Due By: <%= reminder.alert %> </p>
    <% end %> 
      <hr>
      <% else %>

      <h2> No Reminders Currently Set  </h2>

      <% end %>

<h2> Create a New Reminder For Your Bill! </h2> 

<%= render 'reminders/form' %>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', root_path %>
