<h1 class="text-center">About Us</h1>
<hr>

<br>
<hr>
<div class="container-fluid"
<div class="row ">
  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <img src="http://i58.tinypic.com/b46d0x.jpg" class="img-rounded">
    </a>
    <div class="text-center">
      <a href="https://github.com/BayardoNavarro">
        <%= image_tag 'github.png', width:"50", height:"50" %>
      </a>

      <a href="http://www.linkedin.com/pub/bayardo-navarro/87/426/169/">
        <%= image_tag 'linkedin.png', width:"50", height:"50" %>
      </a>
    </div>
    <p class="text-center">Bayardo Navarro</p>
  </div>


  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <img src="http://i57.tinypic.com/2v8iupu.jpg" class="img-rounded" >
    </a>
    <div class="text-center">
      <a href="https://github.com/alfonsopintos">
        <%= image_tag 'github.png', width:"50", height:"50" %>
      </a>

      <a href="https://www.linkedin.com/pub/alfonso-pintos/a5/328/2a">
        <%= image_tag 'linkedin.png', width:"50", height:"50" %>
      </a>
    </div>
    <div class="text-center">
    <a href="http://www.alfonsopintos.com">
      Alfonso Pintos
    </a>
    </div>      
  </div>

  <div class="col-xs-6 col-md-4">
    <a href="#" class="thumbnail">
      <img src="http://i58.tinypic.com/6h3v5k.jpg" class="img-rounded">
    </a>
    <div class="text-center">
      <a href="https://github.com/joellusky">
        <%= image_tag 'github.png', width:"50", height:"50" %>
      </a>
      
      <a href="http://www.linkedin.com/pub/joel-lusky/74/b14/773">
        <%= image_tag 'linkedin.png', width:"50", height:"50" %>
      </a>
      <div class="text-center">
      <a href="http://www.joellusky.com">
        Joel Lusky
      </a>
      </div>
    </div>
  </div>
</div>
</div>
</div>










