<!DOCTYPE html>
<html>
<head class="head">
  <title>Reminderapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="background">

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<p class="navbar-text pull-right">


<ul>
  <% if user_signed_in? %>
    <%= current_user.email %></li> |
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %></li> |
    <%= link_to "Log in", new_user_session_path %></li>
  <% end %>
</ul>

<%= yield %>

</body>
</html>
